<div class="card">
    <div class="card-header">
        Help Desk
    </div>
    <div class="card-body">
        <h5>Contact our very good support team</h5>
        <p>Having issues? get in touch now!!!</p>
        <a asp-page="help" class="btn btn-primary">Get Help</a>
    </div>
</div>