@page "/products/all"
@model MyShop.Pages.Products.ShowAllProductsModel
@{
}
<h2>Show all products page</h2>
<hr />
<div class="row">
    <div class="col-md-6">
        @await Component.InvokeAsync("ProductList")
    </div>
    <div class="col-md-6">
        <partial name="HelpWidget" />
    </div>
</div>