@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container dashboard">
    <h2>Simon's Shop</h2>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Weather
                </div>
                <div class="card-body">
                    <!--A COMMENT-->
                    
                    <p>Hello today is: @DateTime.Now.ToString("dd/MM/yyyy")</p>
                    
                    @* <p>Dont display this line to client: @DateTime.Now.ToString("dd/MM/yyyy")</p> *@

                    @{
                        var currTemperature = 20;
                    }
                    <p>The temperature outside is: @currTemperature degrees</p>
                    @if (currTemperature > 30) {
                        <p>Its warm outside, take sunscreen! @currTemperature</p>
                    } else {
                        <p>Its ok outside</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

