@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container dashboard">
    <h2>Simon's Shop</h2>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Weather
                </div>
                <div class="card-body">
                    <!--A COMMENT-->

                    <p>Hello today is: @DateTime.Now.ToString("dd/MM/yyyy")</p>

                    @* <p>Dont display this line to client: @DateTime.Now.ToString("dd/MM/yyyy")</p> *@

                    @*@Html.ActionLink("Create", "Product")*@

                    <a href="/asdasd">@DateTime.Now</a>

                    @{
                        var currTemperature = 20;
                    }
                    <p>The temperature outside is: @currTemperature degrees</p>
                    @if (currTemperature > 30) {
                        <p>Its warm outside, take sunscreen! @currTemperature</p>
                    } else {
                        <p>Its ok outside</p>
                    }

                    <table class="table">
                        <tr>
                            <th>Key</th>
                            <th>Value</th>
                        </tr>
                        <tr>
                            <td>K1</td>
                            <td>V1</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    Some Products
                </div>
                <div class="card-body">
                    <h5>Some Great products:</h5>
                    @*@await Component.InvokeAsync("ProductList", new {Amount = 3})*@
                    <vc:product-list amount="2" />
                    <h5>Some More Great products:</h5>
                    <vc:product-list amount="2" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <partial name="HelpWidget" />
        </div>
    </div>
</div>

