@page
@model PrivacyModel
@{
    Layout = "_Layout_new";
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@section MyFooterSection {
    <img src="https://picsum.photos/id/1002/200/200" />
}
@section HeaderSection{
    <link rel="stylesheet"  />
}